---
import Navbar from "../components/Navbar.astro";
import "../styles/test.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aleinad Vtuber #Pizza</title>
    <script src="/src/javascript/navbar.js" type="module"></script>
    <script src="/src/javascript/moderators.js" type="module"></script>
    <script src="/src/javascript/motion.js" type="module"></script>
  </head>
  <body class="min-h-screen w-full bg-black relative overflow-x-hidden ">
    <Navbar />
    <section
      id="banner"
      class="w-full h-dvh relative home__banner flex items-start justify-center md:items-end md:justify-start"
    >
      <div
        class="z-10 relative text-center w-full h-full mt-30 md:mt-20 md:text-left mx-auto md:mx-20 flex flex-col items-center md:flex-row xl:pl-35 xl:pr:10"
      >
        <div
          class="flex flex-col lg:flex-row c-space w-full md:max-w-150 md:w-150 relative pt-25 md:pt-0"
        >
          <div class="relative px-2 md:px-0">
            <h1 class="text-4xl lg:text-5xl font-medium text-neutral-100 hi">
              Hola, soy <span
                class="font-bold bg-purple-600 bg-clip-text text-transparent"
                >¡Aleinad!</span
              >
            </h1>
            <p class="text-5xl lg:text-7xl font-medium text-neutral-100 vtuber">
              Vtuber rara que ama la pizza 0w0
            </p>
            <p
              class="text-xl mt-4 lg:text-2xl font-medium text-neutral-300/80 piña"
            >
              Menos la pizza con piña... wakala
            </p>
            <div
              class="flex flex-row justify-center md:justify-start gap-4 mt-5"
            >
              <a
                href="#"
                class="size-10 relative rounded-full bg-red-500/80 hover:border-1 hover:border-red-300 flex justify-center items-center banner__link"
                id="banner__youtube"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-youtube text-neutral-300"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"
                  ></path>
                </svg>
              </a>
              <a
                href="#"
                class="size-10 relative rounded-full bg-blue-600 hover:border-1 hover:border-blue-200 flex justify-center items-center banner__link"
                id="banner__discord"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-discord text-neutral-300"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"
                  ></path>
                </svg>
              </a>
              <a
                href="#"
                class="size-10 relative rounded-full bg-black/80 hover:border-1 hover:border-neutral-300 flex justify-center items-center banner__link"
                id="banner__tiktok"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-tiktok text-neutral-300"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"
                  ></path>
                </svg>
              </a>
            </div>
            <!-- <div class="flex gap-0 justify-start items-start" id="emotes">
                    <img class="size-40 aleinad__banner-home" src="/images/risale.png">
                    <img class="size-40 aleinad__banner-home" src="/images/banale.png">
                    <img class="size-40 aleinad__banner-home" src="/images/cine.png">
                  </div> -->
          </div>
        </div>
        <div
          class="flex-auto w-full md:w-fit flex justify-center items-start md:justify-end md:items-center"
        >
          <img
            src="/images/Logo Aleinad VT.png"
            class="relative w-70 md:w-100 lg:w-190 mt-10 md:mt-0"
            alt=""
            id="aleinad-logo"
          />
        </div>
      </div>
    </section>

    <!-- Moderadores -->
    <!-- <section class="h-auto w-full mt-50 mb-50">
      <div class="container px-6 mx-auto size-full">
        <div class="text-center">
          <div class="section__title">
            <p class="text-[var(--ghost-white)]/80 text-xl mb-2">
              Moderadores de Discord y Youtube
            </p>
            <h2
              class="archivo-black-regular section__title text-6xl bg-gradient-to-r from-purple-500 via-purple-600 to-[var(--electric-violet)] text-transparent w-auto inline-block bg-clip-text"
            >
              Moderadores
            </h2>
          </div>
          <span class="section__title-underline"></span>
          <div
            id="moderator-slider"
            class="w-full h-73 whitespace-nowrap flex items-center mt-10 relative"
          >
            <div
              id="moderator-slider-container"
              class="moderator__container flex whitespace-nowrap"
            >
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div><div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
              <div
                class="moderator__card text-[var(--ghost-white)] h-60 backdrop-blur-2xl flex flex-col justify-center items-center p-4"
              >
                <img
                  src="/images/drefdu.jpg"
                  alt=""
                  class="z-20 rounded-full size-30"
                />
                <h5 class="z-20 mt-3 text-xl font-bold">Drefdu</h5>
                <p
                  class="z-20 w-auto font-medium px-2 py-0.5 text-sm text-[var(--oxford-blue)] rounded-3xl mt-2 bg-[var(--patrulla)] text-nowrap"
                >
                  Patrulla Pepperoni
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <footer class="w-full h-100 bg-[var(--electric-violet)]/25 mt-55"></footer> -->
  </body>
</html>
