---
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aleinad #Pizza |Vtuber|</title>
    <link rel="stylesheet" href="/src/styles/test.css" />
    <script src="/src/javascript/navbar.js" type="module"></script>
  </head>
  <body class="min-h-screen w-full bg-[#020617] relative">
    <div class="absolute inset-0 z-0 body__background-gradient"></div>
    <Navbar></Navbar>
  </body>
</html>
