<header class="w-full h-15 bg-[var(--header-color)] px-10 flex justify-between items-center sticky top-0 z-50">
    <h1 class="text-xl font-bold bg-linear-to-tr from-[var(--tertiary-color)] to-[var(--primary-color)] bg-clip-text text-transparent inline">Aleinad #Pizza</h1>
    <nav>
        <ul class="text-white flex flex-row gap-10 navbar__items">
            <li><a href="" class="navbar__item navbar__item--active flex justify-center items-center">Inicio</a></li>
            <li><a href="" class="navbar__item flex justify-center items-center">Horario</a></li>
            <li><a href="" class="navbar__item flex justify-center items-center">Contacto</a></li>
            <li><a href="" class="navbar__item flex justify-center items-center">Galeria</a></li>
            <li><a href="" class="navbar__item flex justify-center items-center">Donar</a></li>
        </ul>
    </nav>
</header>