---

---
<nav id="navbar" class="fixed top-0 left-0 right-0 bg-[var(--electric-violet)]/20 border-1 border-b-[var(--electric-violet)] backdrop-blur-lg z-50 transition-all duration-300">
    <div class="container mx-auto px-6 h-full">
        <div class="flex items-center justify-center relative h-full max-h-[70px] border-1 border-transparent border-b-[var(--electric-violet)]/40">
            <!-- Logo -->
            <div class="text-white">
                Aleinad #Pizza
            </div>

            <!-- Menu Button -->
            <div class="absolute right-0 h-full w-6 border-0">
                <button id="menu__buton" class="size-full" aria-label="Toggle menu">
                    <span id="line1" class="block h-1 w-full bg-[var(--ghost-white)] transform transition duration-300 ease-in-out rounded-2xl mb-1 "></span>
                    <span id="line2" class="block h-1 w-full bg-[var(--ghost-white)] transform transition duration-300 ease-in-out rounded-2xl mb-1"></span>
                    <span id="line3" class="block h-1 w-full bg-[var(--ghost-white)] transform transition duration-300 ease-in-out rounded-2xl"></span>
                </button>
            </div>
        </div>

        <!-- Menu -->
        <div id="menu__container" class="w-full h-auto z-60 left-0 top-0 px-6 flex flex-row flex-wrap justify-center items-center gap-3 mt-5" >
            <a href="#" class="h-auto block w-full rounded-xl transition-all duration-150 hover:bg-[var(--uranian-blue)]/5 hover:border-1 hover:border-transparent hover:border-b-[var(--electric-violet)]/40">
                <div id="menu__horario" class="p-3">
                    <h3 class="text-[var(--ghost-white)] text-center">Horario</h3>
                </div>
            </a>
            <a href="#" class="h-auto block w-full rounded-xl transition-all duration-150 hover:bg-[var(--uranian-blue)]/5 hover:border-1 hover:border-transparent hover:border-b-[var(--electric-violet)]/40">
                <div class="p-3">
                    <h3 class="text-[var(--ghost-white)] text-center">Contacto</h3>
                </div>
            </a>
            <a href="#" class="h-auto block w-full rounded-xl transition-all duration-150 hover:bg-[var(--uranian-blue)]/5 hover:border-1 hover:border-transparent hover:border-b-[var(--electric-violet)]/40">
                <div class="p-3">
                    <h3 class="text-[var(--ghost-white)] text-center">Videojuegos</h3>
                </div>
            </a>
            <a href="#" class="h-auto block w-full rounded-xl transition-all duration-150 hover:bg-[var(--uranian-blue)]/5 hover:border-1 hover:border-transparent hover:border-b-[var(--electric-violet)]/40">
                <div class="p-3">
                    <h3 class="text-[var(--ghost-white)] text-center">Redes</h3>
                </div>
            </a>
            <a href="#" class="h-auto block w-full rounded-xl transition-all duration-150 bg-[var(--electric-violet)]/90 hover:border-1 hover:border-[var(--uranian-blue)]/50">
                <div class="p-3">
                    <h3 class="text-[var(--ghost-white)] text-center">Donar</h3>
                </div>
            </a>
        </div>
    </div>
</nav>