---
import { string } from 'astro:schema'
import Title from './Title.astro'

interface Props {
    title: string;
    subtext: string;
}

const { title, subtext } = Astro.props;
---


<section class="w-full section">
    <div class="lg:mx-40 p-0">
        <Title title={title} subtext={subtext}></Title>
        <slot></slot>
    </div>
</section>